@media screen and (min-width: 2401px) {
  .maxWidth2400 {
    max-width: 2400px !important;
    float: none !important;
    margin: auto !important;
    display: block !important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-sub {
    display: none !important;
  }
  .header-floating-nav {
    .header-content {
      .menu-header {
        display: none !important;
      }
    }
  }
  .pro {
    margin-left: -25px;
  }
  .ipadScroll {
    margin-bottom: 20px;
  }
  .connecting-bank {
    .outter-layout {
      overflow-x: hidden;
      height: inherit;
      padding: 30px !important;

      .left-section {
        padding: 0px !important;

        .connect-content {
          .connect-header {
            padding-left: 16px !important;
            font-size: 24px !important;
          }

          .connecting-info {
            font-size: 20px !important;
            padding-left: 16px !important;
          }

          .download-app {
            .downloadAppHeader {
              font-size: 22px !important;
              padding-left: 16px !important;
            }
          }
        }
      }
    }
  }
  .x-small {
    width: 95% !important;
  }
  .home-content {
    padding: 15px 11px !important;
  }
  .small {
    width: 50%;
  }
  .media-images {
    position: relative;
    right: 37px;
    justify-content: flex-start !important;
  }
  .doc-list-padding {
    padding: 0px !important;
  }
  .sub-imp-link {
    margin-left: -15px;
  }
  .loan-products {
    margin-top: 40px !important;
  }
  .burgerIcon {
    position: relative;
    right: 169px !important;
  }
  .burgerIcon,
  .mob-burger-icon {
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    position: relative !important;
    right: 200px !important;
    top: 35px !important;
  }
  .navbarsidemenu {
    padding: 0;
    margin: 30px 0 60px 0;
    height: 100%;
    top: 87px;
    z-index: 999;
    right: 250px;
    position: relative;
    min-width: 300px !important;

    ul.navbar-nav {
      background-color: #f9f9f9;
      height: 70vh !important;

      li {
        display: block !important;
        color: #2E4E66;
        border-radius: none;
        box-shadow: none;
        padding-bottom: 10px;
        width: 100%;
      }
    }
  }
  .footer {
    padding: 31px 36px !important;
  }
  .popup-btn-panel {
    // display: flex;
    padding-bottom: 30px;
  }
  .header-info {
    display: none;
  }
  .steppermobileNone {
    display: none;
  }
  .stepper {
    .complete-perc {
      position: relative;
      top: 14px;
    }

    margin: 0px 0px !important;
    padding: 0px 0px 12px 45px !important;

    .step {
      .step-name {
        display: none;
      }
    }
  }
  .dynamicFormFields .dynamic-fields-wrapper {
    width: 100% !important;
    padding-right: 0px !important;
  }
  .large {
    width: 100%;
  }
  .bannerImage img {
    height: 700px !important;
  }
  .mobileButton {
    width: 80%;
  }
  .count {
    width: 100%;
  }
  .header-inner-content {
    padding: 25px;
    gap: 360px !important;
  }
  .summary {
    margin: 25px 30px !important;
  }
  .ngx-otp-input {
    min-width: 100% !important;
  }
  .mob-d-block {
    display: block;
  }
  .mobileWidt {
    width: 100% !important;
    padding: 0px 15px;
  }
  .top-margin {
    margin-top: 0px;
  }
  .sanction-display {
    display: block !important;
  }
  .emi-calc-container .mat-slider-horizontal {
    min-width: 167px !important;
  }
  .sanctionBtnBlock {
    display: grid;
    row-gap: 20px;
  }
  .card-layout {
    display: none !important;
  }
  .pro-w-100 {
    width: 100% !important;
  }
  .pro-mb-30 {
    margin-bottom: 30px !important;
  }
  .pro-pl-0 {
    padding-left: 0px !important;
  }
  .upload-option {
    padding: 18px 7px !important;
  }
}

/* media query for above 2400px css starts */
// screen x-large
@media screen and (min-width: 2401px) {
  .home-header .header-floating-nav .header-info {
    width: 100% !important;
  }
  .navbarsidemenu {
    ul.navbar-nav {
      background-color: #f9f9f9;

      li {
        display: none;
      }
    }
  }
}

/* media query for above 1366px and 2400px css starts */
//desktop large
@media screen and (min-width: 1367px) and (max-width: 2400px) {
  .navbarsidemenu {
    ul.navbar-nav {
      background-color: #f9f9f9;

      li {
        display: none;
      }
    }
  }
  .home-mobile-link {
    width: 24% !important;
    margin-top: 40px !important;
    margin-left: 73% !important;
  }
  .preview-ml-30 {
    margin-left: -30px;
  }
}

/* media query for above 1366px css ends */
/* media query for ipad pro landscape mode css starts */
// desktop small
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .header-info .sub-menu-header .sub-menu-header-label {
    font-size: 12px !important;
    padding: 2px 4px !important;
  }
  .connecting-bank {
    .outter-layout {
      .left-section {
        padding: 0px !important;
      }
    }
  }
  .summary-img {
    display: none !important;
  }
  .right-section {
    .img2 {
      position: relative;
      top: 100px;
      right: 60px;
      width: 500px;
    }

    .img1 {
      width: 250px;
    }
  }
  .imp-link {
    position: relative;
    right: 10px;
  }
  .media-images {
    padding-right: 40px;
  }
  .navbarsidemenu {
    ul.navbar-nav {
      background-color: #f9f9f9;

      li {
        display: none;
      }
    }
  }
  @mixin line-clamp-3 {
    font-size: 13px;
  }
  .line-clamp {
    @include line-clamp-3;
  }
  :host::ng-deep .mat-button-toggle {
    border: 2px solid #c6c6c6 !important;
    border-radius: 4px;
    font-size: 13px;
    color: #2a2a2a;
    font-weight: 500;
    font-family: var(--font-family-lt);
  }
  :host::ng-deep .mat-radio-label-content {
    font-size: 13px;
  }
  :host::ng-deep .mat-checkbox-label {
    font-size: 13px !important;
  }
  :host::ng-deep .mat-slide-toggle-content {
    font-size: 15px !important;
  }
  .header-inner-content {
    display: grid;
    gap: 32px !important;
  }
  .header-info {
    width: 0%;
    margin-left: 100px !important;
  }
  .home-mobile-link {
    width: 24% !important;
    margin-top: 40px !important;
    margin-left: 73% !important;
  }
  .header-sub > img {
    margin-right: -101px !important;
  }
  .header-img {
    height: 35px !important;
    margin-left: -15px !important;
  }
  .toggle-medium {
    width: 50%;
  }
  .mobileButton {
    width: 20%;
  }
  .step-name {
    white-space: nowrap;
    font-size: 10px !important;
  }
  .step {
    width: 35% !important;
  }
  .stepper .complete-perc {
    margin-top: 8px !important;
    width: 23% !important;
  }
  // .steppermobileNone{
  //     display: none;
  //   }
  .containerSubstep {
    // margin-top: 30px;
    // margin-left: 16px;
    margin-top: 0px;
    margin-left: -6px;
  }
  .content-padding {
    padding: 10px 0px;
  }
  .mob-padding {
    margin-left: -27px;
    padding: 0px 0px;
    margin-top: 0px;
  }
  .mob-ml-20 {
    margin-left: -25px;
  }
  .stepper .step .step-progress-bar .sub-step {
    width: 38.5% !important;
  }
  .imgmobileWidt {
    width: 80%;
  }
  .sanctionBtnBlock {
    width: 100%;
  }
  .panField {
    width: 68% !important;
  }
  .emi-calc-container {
    padding: 20px !important;
  }
  .emi-calc-container .mat-slider-horizontal {
    min-width: 234px !important;
  }
  .emi-calc-container .label-disp {
    white-space: nowrap;
  }
}

/* media query for ipad pro landacape mode css starts */
/* media query for ipad pro portrait mode css starts */
// tab potrait large
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .pro-w-100 {
    width: 100% !important;
  }
  .pro-mb-30 {
    margin-bottom: 30px !important;
  }
  .pro-pl-0 {
    padding-left: 0px !important;
  }
  .header-info .sub-menu-header .sub-menu-header-label {
    font-size: 12px !important;
    padding: 2px 5px !important;
  }
  .media-block {
    display: block !important;
  }
  .mat-datepicker-toggle {
    border: 1px solid #ddd;
    border-left: none;
    height: 46px !important;
    border-radius: 0.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .stepsMobile-section ul li:before {
    left: 9px !important;
  }
  .stepsMobile-section ul li > span:after {
    content: "_ _ _ _" !important;
    top: -4px !important;
  }
  .stepsMobile-section ul li.lastChild > span:after {
    .stepper {
      margin: 0px 0px !important;
      padding: 0px 0px !important;

      .step {
        .step-name {
          display: none;
        }
      }
    }

    content: "" !important;
    top: -4px !important;
  }
  .mobileWidt {
    width: 100% !important;
    padding: 0px 15px;
  }
  .commonInfo {
    min-height: 90vh !important;
  }
  .header-info {
    display: none;
  }
  .header-inner-content {
    display: grid;
    gap: 325px !important;
  }
  .doc-list-padding {
    padding: 0px !important;
  }
  .para-padding {
    padding: 15px 0px !important;
  }
  .steppermobileNone {
    display: none;
  }
  .stepper {
    margin: 0px 0px !important;
    padding: 0px 0px 12px 45px !important;

    .step {
      .step-name {
        display: none;
      }
    }
  }
  .ipad-w-50 {
    width: 50% !important;
  }
  .imgmobileWidt {
    width: 100%;
  }
  .card-layout {
    display: none !important;
  }
  .upload-option {
    padding: 18px 7px !important;
  }
}

/* media query for ipad pro portrait mode css ends */
/* media query for ipad landscape mode css starts */
//tab large
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .header-info .sub-menu-header .sub-menu-header-label {
    padding: 2px 8px !important;
  }
  .summary-img {
    display: none !important;
  }
  .media-block {
    display: block !important;
  }
  .media-images {
    margin-left: 51px;
  }
  .home-header {
    .header-logo {
      padding-left: 0px !important;
    }

    .header-floating-nav {
      .header-info {
        position: relative;
        right: 15px !important;
      }
    }
  }
  connecting-bank {
    .outter-layout {
      .left-section {
        .download-app {
          margin-top: 0px;
          flex-direction: row;
        }
      }
    }
  }
  .header-inner-content {
    display: grid;
    gap: 0px !important;
  }
  .steppermobileNone {
    display: none;
  }
  .containerSubstep {
    margin-top: 30px;
  }
  .stepper .complete-perc {
    margin-top: 20px !important;
    width: 25% !important;
  }
  .header-img {
    height: 35px !important;
    margin-left: -45px !important;
  }
  .mob-btn {
    margin-left: 15px !important;
  }
  .stepper {
    margin: 10px 17px !important;
    padding: 0px 0px !important;
  }
  .mob-ml-20 {
    margin-left: 0px;
  }
  .content-padding {
    padding: 10px 30px;
  }
  .imgmobileWidt {
    width: 80%;
  }
}

/* media query for ipad landscape mode css ends */
/* media query for ipad portrait mode css starts */
//tablet small
@media screen and (max-width: 1023px) {
  .header-info .sub-menu-header .sub-menu-header-label {
    font-size: 11px !important;
    padding: 2px 4px !important;
  }
  .tableSection,
  .chartSection {
    flex-grow: 1;
  }
  .bottomSection {
    flex-wrap: wrap;
  }
  .mat-datepicker-toggle {
    border: 1px solid #ddd;
    border-left: none;
    height: 46px !important;
    border-radius: 0.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  :host::ng-deep .mat-button-toggle {
    border: 2px solid #c6c6c6 !important;
    border-radius: 4px;
    font-size: 13px;
    color: #2a2a2a;
    font-weight: 500;
    font-family: var(--font-family-lt);
  }
  .steppermobileNone {
    display: none;
  }
  .stepper {
    .step {
      .step-name {
        display: none;
      }
    }
  }
  .medium {
    width: 80%;
  }
  .container .dynamic-tab-container .mat-tab-body-content {
    height: 20vh !important;
  }
  .table-responsive {
    display: block !important;
  }
  .summary-img {
    display: none !important;
  }
  .mobileWidt {
    width: 100% !important;
    padding: 0px 30px;
  }
  .mobileDisplay {
    display: block !important;

    .home-header {
      .navbarsidemenu ul.navbar-nav {
        background-color: #f9f9f9 !important;
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        margin-right: 20px;
        position: relative;
        top: 0;
        right: 60px;
        height: 65vh !important;
      }

      .navbarsidemenu ul.navbar-nav li {
        display: block !important;
        border-radius: none;
        box-shadow: none;
        padding-bottom: 10px;
        width: 100%;
      }
    }

    .navbar-nav .nav-link {
      display: block;
    }

    .home-link {
      display: flex;
    }
  }
  .row.ipadFix {
    display: none !important;
  }
  .ipad-no-bg {
    background: transparent !important;
  }
  .side-pad {
    padding: 0px 0px 0px 30px;
  }
  .ipad-p-20 {
    padding: 20px;
  }
  .ipad-w-50 {
    width: 50% !important;
  }
  .integreat-layout {
    display: flex;
    flex-direction: column-reverse;
  }
  .mat-snack-bar-container {
    width: 70%;
    max-width: 60vw !important;
  }
  .imgmobileWidt {
    width: 80%;
  }
  .mobile-none {
    display: none !important;
  }
}

/* media query for ipad portrait mode css ends */
/* media query for mobile devices css starts */
//mobile large
@media screen and (max-width: 767px) {
  .mob-p-5 {
    padding: 5px;
  }
  .mob-p-10 {
    padding: 10px;
  }
  .mob-p-15 {
    padding: 15px;
  }
  .mob-p-20 {
    padding: 20px;
  }
  .mob-p-25 {
    padding: 25px;
  }
  .mob-p-30 {
    padding: 30px;
  }
  .mob-p-45 {
    padding: 45px;
  }
  .mob-p-50 {
    padding: 50px;
  }
  .mob-p-55 {
    padding: 55px;
  }
  .mob-p-60 {
    padding: 60px;
  }
  .mob-p-65 {
    padding: 65px;
  }
  .mob-p-70 {
    padding: 70px;
  }
  .mob-p-75 {
    padding: 75px;
  }
  .mob-p-80 {
    padding: 80px;
  }
  .mob-p-85 {
    padding: 85px;
  }
  .mob-p-90 {
    padding: 90px;
  }
  .mob-p-95 {
    padding: 95px;
  }
  .mob-p-100 {
    padding: 100px;
  }
  .mob-pl-5 {
    padding-left: 5px;
  }
  .mob-pl-15 {
    padding-left: 15px;
  }
  .mob-pl-25 {
    padding-left: 25px;
  }
  .mob-pl-30 {
    padding-left: 30px;
  }
  .mob-pl-35 {
    padding-left: 35px;
  }
  .mob-pl-40 {
    padding-left: 40px;
  }
  .mob-pl-45 {
    padding-left: 45px;
  }
  .mob-pl-50 {
    padding-left: 50px;
  }
  .mob-pl-55 {
    padding-left: 55px;
  }
  .mob-pl-60 {
    padding-left: 60px;
  }
  .mob-pl-65 {
    padding-left: 65px;
  }
  .mob-pl-70 {
    padding-left: 70px;
  }
  .mob-pl-75 {
    padding-left: 75px;
  }
  .mob-pl-80 {
    padding-left: 80px;
  }
  .mob-pl-85 {
    padding-left: 85px;
  }
  .mob-pl-90 {
    padding-left: 90px;
  }
  .mob-pl-95 {
    padding-left: 95px;
  }
  .mob-pl-100 {
    padding-left: 0px;
  }
  .mob-pr-5 {
    padding-right: 5px;
  }
  .mob-pr-15 {
    padding-right: 15px;
  }
  .mob-pr-25 {
    padding-right: 25px;
  }
  .mob-pr-30 {
    padding-right: 30px;
  }
  .mob-pr-35 {
    padding-right: 35px;
  }
  .mob-pr-40 {
    padding-right: 40px;
  }
  .mob-pr-45 {
    padding-right: 5px;
  }
  .mob-pr-50 {
    padding-right: 50px;
  }
  .mob-pr-55 {
    padding-right: 55px;
  }
  .mob-pr-60 {
    padding-right: 60px;
  }
  .mob-pr-65 {
    padding-right: 65px;
  }
  .mob-pr-70 {
    padding-right: 70px;
  }
  .mob-pr-75 {
    padding-right: 75px;
  }
  .mob-pr-80 {
    padding-right: 80px;
  }
  .mob-pr-85 {
    padding-right: 85px;
  }
  .mob-pr-90 {
    padding-right: 90px;
  }
  .mob-pr-95 {
    padding-right: 95px;
  }
  .mob-pr-100 {
    padding-right: 100px;
  }
  .mob-pb-0 {
    padding-bottom: 0px;
  }
  .mob-pb-5 {
    padding-bottom: 5px;
  }
  .mob-pb-10 {
    padding-bottom: 10px;
  }
  .mob-pb-15 {
    padding-bottom: 15px;
  }
  .mob-pb-20 {
    padding-bottom: 20px;
  }
  .mob-pb-25 {
    padding-bottom: 25px;
  }
  .mob-pb-30 {
    padding-bottom: 30px;
  }
  .mob-pb-35 {
    padding-bottom: 35px;
  }
  .mob-pb-40 {
    padding-bottom: 40px;
  }
  .mob-pb-45 {
    padding-bottom: 45px;
  }
  .mob-pb-50 {
    padding-bottom: 50px;
  }
  .mob-pb-55 {
    padding-bottom: 55px;
  }
  .mob-pb-60 {
    padding-bottom: 60px;
  }
  .mob-pb-65 {
    padding-bottom: 65px;
  }
  .mob-pb-70 {
    padding-bottom: 70px;
  }
  .mob-pb-75 {
    padding-bottom: 75px;
  }
  .mob-pb-80 {
    padding-bottom: 80px;
  }
  .mob-pb-85 {
    padding-bottom: 85px;
  }
  .mob-pb-90 {
    padding-bottom: 90px;
  }
  .mob-pb-95 {
    padding-bottom: 95px;
  }
  .mob-pb-100 {
    padding-bottom: 100px;
  }
  .mob-pt-0 {
    padding-top: 0px;
  }
  .mob-pt-5 {
    padding-top: 5px;
  }
  .mob-pt-10 {
    padding-top: 10px;
  }
  .mob-pt-15 {
    padding-top: 15px;
  }
  .mob-pt-20 {
    padding-top: 20px;
  }
  .mob-pt-25 {
    padding-top: 25px;
  }
  .mob-pt-30 {
    padding-top: 30px;
  }
  .mob-pt-45 {
    padding-top: 45px;
  }
  .mob-pt-50 {
    padding-top: 50px;
  }
  .mob-pt-55 {
    padding-top: 55px;
  }
  .mob-pt-60 {
    padding-top: 60px;
  }
  .mob-pt-65 {
    padding-top: 65px;
  }
  .mob-pt-70 {
    padding-top: 70px;
  }
  .mob-pt-75 {
    padding-top: 75px;
  }
  .mob-pt-80 {
    padding-top: 80px;
  }
  .mob-pt-85 {
    padding-top: 85px;
  }
  .mob-pt-90 {
    padding-top: 90px;
  }
  .mob-pt-100 {
    padding-top: 100px;
  }
  .mob-m-5 {
    margin: 5px;
  }
  .mob-m-10 {
    margin: 10px;
  }
  .mob-m-15 {
    margin: 15px;
  }
  .mob-m-20 {
    margin: 20px;
  }
  .mob-m-25 {
    margin: 25px;
  }
  .mob-m-30 {
    margin: 30px;
  }
  .mob-m-45 {
    margin: 45px;
  }
  .mob-m-50 {
    margin: 50px;
  }
  .mob-m-55 {
    margin: 55px;
  }
  .mob-m-60 {
    margin: 60px;
  }
  .mob-m-65 {
    margin: 65px;
  }
  .mob-m-70 {
    margin: 70px;
  }
  .mob-m-75 {
    margin: 75px;
  }
  .mob-m-80 {
    margin: 80px;
  }
  .mob-m-85 {
    margin: 85px;
  }
  .mob-m-90 {
    margin: 90px;
  }
  .mob-m-95 {
    margin: 95px;
  }
  .mob-m-100 {
    margin: 100px;
  }
  .mob-mr-5 {
    margin-right: 5px;
  }
  .mob-mr-15 {
    margin-right: 15px;
  }
  .mob-mr-20 {
    margin-right: 20px;
  }
  .mob-mr-25 {
    margin-right: 25px;
  }
  .mob-mr-30 {
    margin-right: 30px;
  }
  .mob-mr-35 {
    margin-right: 35px;
  }
  .mob-mr-40 {
    margin-right: 40px;
  }
  .mob-mr-45 {
    margin-right: 45px;
  }
  .mob-mr-50 {
    margin-right: 50px;
  }
  .mob-mr-55 {
    margin-right: 55px;
  }
  .mob-mr-60 {
    margin-right: 60px;
  }
  .mob-mr-65 {
    margin-right: 65px;
  }
  .mob-mr-70 {
    margin-right: 70px;
  }
  .mob-mr-75 {
    margin-right: 75px;
  }
  .mob-mr-80 {
    margin-right: 80px;
  }
  .mob-mr-85 {
    margin-right: 85px;
  }
  .mob-mr-90 {
    margin-right: 90px;
  }
  .mob-mr-95 {
    margin-right: 95px;
  }
  .mob-mr-100 {
    margin-right: 0px;
  }
  .mob-ml-5 {
    margin-left: 5px;
  }
  .mob-ml-10 {
    margin-left: 10px;
  }
  .mob-ml-15 {
    margin-left: 15px;
  }
  .mob-ml-20 {
    margin-left: 20px;
  }
  .mob-ml-25 {
    margin-left: 25px;
  }
  .mob-ml-30 {
    margin-left: 30px;
  }
  .mob-ml-35 {
    margin-left: 35px;
  }
  .mob-ml-40 {
    margin-left: 40px;
  }
  .mob-ml-45 {
    margin-left: 45px;
  }
  .mob-ml-50 {
    margin-left: 50px;
  }
  .mob-ml-55 {
    margin-left: 55px;
  }
  .mob-ml-60 {
    margin-left: 60px;
  }
  .mob-ml-65 {
    margin-left: 65px;
  }
  .mob-ml-70 {
    margin-left: 70px;
  }
  .mob-ml-75 {
    margin-left: 75px;
  }
  .mob-ml-80 {
    margin-left: 80px;
  }
  .mob-ml-85 {
    margin-left: 85px;
  }
  .mob-ml-90 {
    margin-left: 90px;
  }
  .mob-ml-95 {
    margin-left: 95px;
  }
  .mob-ml-100 {
    margin-left: 100px;
  }
  .mob-mb-0 {
    margin-bottom: 0px;
  }
  .mob-mb-5 {
    margin-bottom: 5px;
  }
  .mob-mb-15 {
    margin-bottom: 15px;
  }
  .mob-mb-25 {
    margin-bottom: 25px;
  }
  .mob-mb-30 {
    margin-bottom: 30px;
  }
  .mob-mb-35 {
    margin-bottom: 35px;
  }
  .mob-mb-40 {
    margin-bottom: 40px;
  }
  .mob-mb-45 {
    margin-bottom: 45px;
  }
  .mob-mb-50 {
    margin-bottom: 50px;
  }
  .mob-mb-55 {
    margin-bottom: 55px;
  }
  .mob-mb-60 {
    margin-bottom: 60px;
  }
  .mob-mb-65 {
    margin-bottom: 65px;
  }
  .mob-mb-70 {
    margin-bottom: 70px;
  }
  .mob-mb-75 {
    margin-bottom: 75px;
  }
  .mob-mb-80 {
    margin-bottom: 80px;
  }
  .mob-mb-85 {
    margin-bottom: 85px;
  }
  .mob-mb-90 {
    margin-bottom: 90px;
  }
  .mob-mb-95 {
    margin-bottom: 95px;
  }
  .mob-mb-100 {
    margin-bottom: 100px;
  }
  .mob-mt-0 {
    margin-top: 0px;
  }
  .mob-mt-5 {
    margin-top: 5px;
  }
  .mob-mt-20 {
    margin-top: 20px;
  }
  .mob-mt-25 {
    margin-top: 25px;
  }
  .mob-mt-30 {
    margin-top: 30px;
  }
  .mob-mt-45 {
    margin-top: 45px;
  }
  .mob-mt-50 {
    margin-top: 50px;
  }
  .mob-mt-55 {
    margin-top: 55px;
  }
  .mob-mt-60 {
    margin-top: 60px;
  }
  .mob-mt-65 {
    margin-top: 65px;
  }
  .mob-mt-70 {
    margin-top: 70px;
  }
  .mob-mt-75 {
    margin-top: 75px;
  }
  .mob-mt-80 {
    margin-top: 80px;
  }
  .mob-mt-85 {
    margin-top: 85px;
  }
  .mob-mt-90 {
    margin-top: 90px;
  }
  .mob-mt-100 {
    margin-top: 100px;
  }
  .bg-header {
    background: url(/assets/images/mob-header.svg) !important;
  }
  .sub-content {
    padding: 16px;
  }
  .key-fact-details-container {
    flex-direction: column;
  }
  .mat-snack-bar-container {
    max-width: 90vw !important;
    width: 100%;
  }
  .integreat-layout {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-area {
    padding: 25px 20px 25px 20px !important;
  }
  .tab-section .dynamic-tab-container .mat-tab-body-content {
    padding: 10px !important;
    height: 100% !important;
  }
  .tab-section {
    padding: 0 15px 20px 15px;
  }
  .consent-text {
    width: 100% !important;
    margin-top: -16px;
  }
  .mob-top {
    margin-top: -10px !important;
  }
  .mobileWidt {
    padding: 0px 15px;
  }
  .tableSection,
  .chartSection {
    flex-grow: 1;
  }
  .bottomSection {
    flex-wrap: wrap;
  }
  .radio-field {
    .mat-radio-group {
      display: block !important;
    }
  }
  .dynamicFormFields.twoColumnrowLayout .dynamic-fields-wrapper {
    padding: 0px 0px 0px 0px !important;
  }
  .field-wrapper.sideFormlayout {
    display: unset !important;
    align-items: center
  }
  .field-wrapper.sideFormlayout .label-group {
    width: 100% !important;
  }
  .field-wrapper.sideFormlayout .input-group {
    width: 100% !important;
  }
  .dynamicFormFields .dynamic-fields-wrapper {
    width: 100% !important;
    padding: 0px !important;
  }
  .mobileNone {
    display: none !important;
  }
  .mw-100 {
    width: 100%;
  }
  .mw-90 {
    width: 90%;
  }
  .common-title {
    font-size: 18px;
  }
  .placeBottom {
    position: absolute;
    bottom: 0;
  }
  //saving acount css
  .loan-details {
    width: 100% !important;
    margin-left: 20px !important;
    margin-top: 5px !important;
  }
  .choose-loan-img {
    width: 99% !important;
    // padding-left:4px !important;
  }
  .offer-list {
    padding: 30px 30px !important;
  }
  .mobile-cards {
    padding-bottom: 30px;
  }
  .underscore-brand {
    font-size: 14px;
    text-decoration: underline;
    color: var(--brand-color);
    font-family: var(--font-family-lt);
    cursor: pointer;

    &:hover {
      color: var(--brand-color);
    }
  }
  .header-floating-nav {
    .header-content {
      .menu-header {
        display: none !important;
      }
    }
  }
  .home-content {
    padding: 20px 15px !important;
  }
  .home-header {
    .header-logo {
      margin-bottom: 10px !important;
    }
  }
  .header-sub {
    display: none !important;
  }
  .connecting-bank {
    .outter-layout {
      overflow-x: hidden;
      height: inherit;
      padding: 30px !important;

      .left-section {
        padding: 0px !important;

        .download-app {
          margin-top: 10px !important;
        }

        .connect-content {
          .connect-header {
            font-size: 24px !important;
            padding-left: 16px !important;
          }

          .connecting-info {
            font-size: 20px !important;
            padding-left: 16px !important;
          }

          .download-app {
            .downloadAppHeader {
              font-size: 22px !important;
              padding-left: 16px !important;
            }
          }
        }
      }
    }
  }
  .media-images {
    width: 200px;
    left: 40px;
    position: relative;
    margin-left: 80px;

    img {
      width: 50%;
    }

    .twitter,
    .facebook {
      width: 20%;
      padding-bottom: 8px;
    }
  }
  //input type,select
  input,
  select {
    height: 48px !important;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background-color: #ffffff;
    color: #222629 !important;
    font-family: var(--font-family);
    font-size: 14px !important;

    &:focus {
      border: 1px solid #c6c6c6 !important;
      box-shadow: none !important;
    }
  }
  textarea {
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background-color: #ffffff;
    color: #222629 !important;
    font-family: var(--font-family);
    font-size: 14px !important;
    resize: none;

    &:focus {
      border: 1px solid #c6c6c6 !important;
      box-shadow: none !important;
    }
  }
  .form-label {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family-lt);
  }
  .form-label-lg {
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 500;
    font-family: var(--font-family-lt);
    margin-top: 8px;
  }
  .required {
    &::after {
      content: "  *";
      color: var(--brand-red);
      font-size: 14px;
    }
  }
  .mobileDisplay {
    display: block !important;
  }
  .footer {
    padding-top: 10px !important;
    padding-left: 20px !important;
  }
  .right-section {
    .img2 {
      position: relative;
      right: 18px;
      width: inherit;
    }

    .img1 {
      position: relative;
      width: inherit;
    }
  }
  .sub-imp-link {
    position: relative;
    right: 10px;
  }
  .burgerIcon {
    position: relative;
    right: 230px !important;
    top: 30px !important
  }
  .burgerIcon,
  .mob-burger-icon {
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
  }
  .navbarsidemenu {
    padding: 0;
    margin: 30px 0 60px 0;
    height: 100%;
    top: 50px;
    z-index: 999;
    right: 194px;
    position: relative;
    min-width: 280px !important;

    ul.navbar-nav {
      background-color: #f9f9f9 !important;
      box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
      margin-right: 20px;
      position: relative;
      top: 40px !important;
      right: 60px;
      height: 70vh !important;
      overflow-y: auto;

      li {
        display: block !important;
        color: #2E4E66;
        border-radius: none;
        box-shadow: none;
        padding-bottom: 10px;
        width: 100%;
      }
    }
  }
  .step {
    width: 50% !important;
    margin-right: 0px !important;
  }
  .commonInfo {
    min-height: 90vh !important;

    .infoFooter {
      position: relative;
      margin-top: 25px;
    }
  }
  .loan-products {
    margin-top: 1px !important;
  }

  :host::ng-deep .mat-radio-label-content {
    font-size: 14px;
    color: #222629;
    font-family: var(--font-family);
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }
  :host::ng-deep .mat-radio-button {
    margin-right: 14px;
  }
  :host::ng-deep .mat-button-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
  }
  .digit-group {
    width: 268px;

    input {
      width: 33.33%;
      height: 48px !important;
      line-height: 50px;
      text-align: center;
      font-family: var(--font-family);
      color: white;
      margin-right: 14px;
      font-weight: 500;
      font-size: 14px !important;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
  @mixin line-clamp-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    color: #565656;
    font-size: 13px;
    font-family: var(--font-family);
  }
  .line-clamp {
    @include line-clamp-3;
  }
  .mob-w-100 {
    width: 100% !important;
  }
  .btn-panel {
    width: 100% !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .products {
    padding: 11px 23px 19px 20px !important;
  }
  .mob-ml-0 {
    margin-left: 0px !important;
  }
  .mob-mr-0 {
    margin-right: 0px !important;
  }
  .mob-pl-0 {
    padding-left: 0px !important;
  }
  .mob-pr-0 {
    padding-right: 0px !important;
  }
  .mob-mb-20 {
    margin-bottom: 20px !important;
  }
  .mob-mt-10 {
    margin-top: 10px !important;
  }
  .mob-mt-15 {
    margin-top: 15px !important;
  }
  .mob-pl-10 {
    padding-left: 10px !important;
  }
  .mob-pr-10 {
    padding-right: 10px !important;
  }
  .mob-pl-20 {
    padding-left: 20px !important;
  }
  .mob-pr-20 {
    padding-right: 20px !important;
  }
  .mob-pad-20 {
    padding: 20px 20px;
  }
  .mob-p-0 {
    padding: 0 !important;
  }
  .mob-m-0 {
    margin: 0 !important;
  }
  .layout {
    padding: 0px !important;
  }
  .header-info {
    display: none;
  }
  .header-mobile-img {
    display: none;
  }
  .header-inner-content {
    padding: 0px 8px 0px 0px;
    gap: 24px !important;
  }
  .home-link {
    display: flex;
  }
  .content-padding {
    padding: 0px 0px;
  }
  .stepper {
    margin: 0px 0px !important;
    padding: 0px 0px !important;

    .step {
      .step-name {
        display: none;
      }
    }
  }
  .steppermobileNone {
    display: none;
  }
  .large {
    width: 100%;
  }
  .mobileButton {
    width: 100%;
  }
  .container .dynamic-tab-container .mat-tab-body-content {
    padding: 10px 0px;
    margin-right: 0px !important;
    overflow-y: auto !important;
  }
  .navbarsidemenu ul.navbar-nav li span {
    padding-left: 15px;
  }
  .stepper .complete-perc {
    position: absolute;
    top: 63px;
    font-size: 8px !important;
    left: 17px;
  }
  .medium {
    width: 100%
  }
  .docWidth {
    width: 80%;
    padding-bottom: 20px;
  }
  .doc-text-info {
    padding-left: 10px;
    white-space: wrap;
  }
  .documentInfo {
    margin-left: -24px;
  }
  .summary {
    margin: 13px 20px !important;
  }
  .info-content {
    margin-left: 0px !important;
  }
  .content-top-padding {
    padding-top: 0px !important;
  }
  .mob-d-block {
    display: block !important;
  }
  .tableDelete,
  .tableEdit,
  .tableTick {
    width: 50% !important;
  }
  .mob-mt {
    margin-top: 0px;
  }
  .mob-mb-10 {
    margin-bottom: 10px !important;
  }
  .mob-mr-10 {
    margin-right: 10px !important;
  }
  .substepper {
    flex-wrap: wrap;
  }
  .x-small {
    width: 95%;
  }
  .doc-width {
    width: 100% !important;
  }
  .pop-up-mobile-Btns {
    display: block !important;
    margin-left: 12px;
  }
  .mob-btn-padding {
    margin-bottom: 10px;
  }
  .summary-status {
    display: contents !important;
  }
  .mobile-medium {
    width: 90%;
  }
  .mobile-product-margin {
    margin-left: 0px !important;
  }
  .preview-ml-30 {
    margin-left: 0px !important;
  }
  .overdraft-width {
    width: 100% !important;
  }
  .declaration-margin {
    padding: 0px 7px;
  }
  .doc-list-padding {
    padding: 0px !important;
  }
  .document-card {
    width: fit-content !important;
  }
  .end-popup {
    width: 90%;
  }
  .top-margin {
    margin-top: 0px;
  }
  .small {
    width: 100%;
  }
  .mobile-none {
    display: none !important;
  }
  .mob-d-flex {
    display: flex;
  }
  .mob-a-i-c {
    align-items: center;
  }
  .mob-j-c {
    justify-content: center;
  }
  .mob-j-c-b {
    justify-content: space-between;
  }
  .payment {
    gap: 73px !important
  }
  .sanction-display {
    display: block !important;
  }
  .bank-content {
    display: block !important;
  }
  .mob-flex-col {
    flex-direction: column;
  }
  .mob-flex-grow {
    flex-grow: 1;
  }
  .mob-f-16 {
    font-size: 16px !important;
  }
  .mob-f-14 {
    font-size: 14px !important;
  }
  .mob-f-12 {
    font-size: 12px !important;
  }
  .mob-f-20 {
    font-size: 20px !important;
  }
  .mob-f-24 {
    font-size: 24px !important;
  }
  .mob-f-10 {
    font-size: 10px !important;
  }
  .imgmobileWidt {
    width: 100%;
  }
  .emi-calc-container .mat-slider-horizontal {
    min-width: 167px !important;
  }
  .mobile-btn-margin-top {
    margin-top: 10px;
  }
  .sanctionBtnBlock {
    display: grid;
    row-gap: 20px;
  }
  .card-layout {
    display: none !important;
  }
}

/* media query for mobile devices css ends */
/* media query for extra small devices css starts */
// mobile small
@media screen and (max-width: 320px) {
  .key-fact-details-container {
    flex-direction: column;
  }
  .mobileNone {
    display: none !important;
  }
  .mw-100 {
    width: 100%;
  }
  .mob-w-100 {
    width: 100%;
  }
  .mw-90 {
    width: 90%;
  }
  .common-title {
    font-size: 28px;
  }
  .placeBottom {
    position: absolute;
    bottom: 0;
  }
  .btn-orange {
    width: 100%;
  }
  .underscore-brand {
    font-size: 14px;
    text-decoration: underline;
    color: var(--brand-color);
    font-family: var(--font-family-lt);
    cursor: pointer;

    &:hover {
      color: var(--brand-color);
    }
  }
  .header-floating-nav {
    .header-content {
      .menu-header {
        display: none !important;
      }
    }
  }
  .home-content {
    padding: 20px 20px !important;
  }
  .header-sub {
    display: none !important;
  }
  .connecting-bank {
    .outter-layout {
      overflow-x: hidden;
      height: inherit;
      padding: 30px !important;

      .left-section {
        padding: 0px !important;

        .download-app {
          margin-top: 10px !important;
        }

        .connect-content {
          .connect-header {
            font-size: 24px !important;
            padding-left: 16px !important;
          }

          .connecting-info {
            font-size: 20px !important;
            padding-left: 16px !important;
          }

          .download-app {
            .downloadAppHeader {
              font-size: 22px !important;
              padding-left: 16px !important;
            }
          }
        }
      }
    }
  }
  .media-images {
    position: relative;
    left: 37px;

    img {
      width: 50%;
    }
  }
  .mob-p-0 {
    padding: 0px;
  }
  .mob-p-5 {
    padding: 5px;
  }
  .mob-p-10 {
    padding: 10px;
  }
  .mob-p-15 {
    padding: 15px;
  }
  .mob-p-20 {
    padding: 20px;
  }
  .mob-p-25 {
    padding: 25px;
  }
  .mob-p-30 {
    padding: 30px;
  }
  .mob-p-45 {
    padding: 45px;
  }
  .mob-p-50 {
    padding: 50px;
  }
  .mob-p-55 {
    padding: 55px;
  }
  .mob-p-60 {
    padding: 60px;
  }
  .mob-p-65 {
    padding: 65px;
  }
  .mob-p-70 {
    padding: 70px;
  }
  .mob-p-75 {
    padding: 75px;
  }
  .mob-p-80 {
    padding: 80px;
  }
  .mob-p-85 {
    padding: 85px;
  }
  .mob-p-90 {
    padding: 90px;
  }
  .mob-p-95 {
    padding: 95px;
  }
  .mob-p-100 {
    padding: 100px;
  }
  .mob-pl-0 {
    padding-left: 0px;
  }
  .mob-pl-5 {
    padding-left: 5px;
  }
  .mob-pl-10 {
    padding-left: 10px;
  }
  .mob-pl-15 {
    padding-left: 15px;
  }
  .mob-pl-20 {
    padding-left: 20px;
  }
  .mob-pl-25 {
    padding-left: 25px;
  }
  .mob-pl-30 {
    padding-left: 30px;
  }
  .mob-pl-35 {
    padding-left: 35px;
  }
  .mob-pl-40 {
    padding-left: 40px;
  }
  .mob-pl-45 {
    padding-left: 45px;
  }
  .mob-pl-50 {
    padding-left: 50px;
  }
  .mob-pl-55 {
    padding-left: 55px;
  }
  .mob-pl-60 {
    padding-left: 60px;
  }
  .mob-pl-65 {
    padding-left: 65px;
  }
  .mob-pl-70 {
    padding-left: 70px;
  }
  .mob-pl-75 {
    padding-left: 75px;
  }
  .mob-pl-80 {
    padding-left: 80px;
  }
  .mob-pl-85 {
    padding-left: 85px;
  }
  .mob-pl-90 {
    padding-left: 90px;
  }
  .mob-pl-95 {
    padding-left: 95px;
  }
  .mob-pl-100 {
    padding-left: 0px;
  }
  .mob-pr-0 {
    padding-right: 0px;
  }
  .mob-pr-5 {
    padding-right: 5px;
  }
  .mob-pr-10 {
    padding-right: 10px;
  }
  .mob-pr-15 {
    padding-right: 15px;
  }
  .mob-pr-20 {
    padding-right: 20px;
  }
  .mob-pr-25 {
    padding-right: 25px;
  }
  .mob-pr-30 {
    padding-right: 30px;
  }
  .mob-pr-35 {
    padding-right: 35px;
  }
  .mob-pr-40 {
    padding-right: 40px;
  }
  .mob-pr-45 {
    padding-right: 5px;
  }
  .mob-pr-50 {
    padding-right: 50px;
  }
  .mob-pr-55 {
    padding-right: 55px;
  }
  .mob-pr-60 {
    padding-right: 60px;
  }
  .mob-pr-65 {
    padding-right: 65px;
  }
  .mob-pr-70 {
    padding-right: 70px;
  }
  .mob-pr-75 {
    padding-right: 75px;
  }
  .mob-pr-80 {
    padding-right: 80px;
  }
  .mob-pr-85 {
    padding-right: 85px;
  }
  .mob-pr-90 {
    padding-right: 90px;
  }
  .mob-pr-95 {
    padding-right: 95px;
  }
  .mob-pr-100 {
    padding-right: 100px;
  }
  .mob-pb-0 {
    padding-bottom: 0px;
  }
  .mob-pb-5 {
    padding-bottom: 5px;
  }
  .mob-pb-10 {
    padding-bottom: 10px;
  }
  .mob-pb-15 {
    padding-bottom: 15px;
  }
  .mob-pb-20 {
    padding-bottom: 20px;
  }
  .mob-pb-25 {
    padding-bottom: 25px;
  }
  .mob-pb-30 {
    padding-bottom: 30px;
  }
  .mob-pb-35 {
    padding-bottom: 35px;
  }
  .mob-pb-40 {
    padding-bottom: 40px;
  }
  .mob-pb-45 {
    padding-bottom: 45px;
  }
  .mob-pb-50 {
    padding-bottom: 50px;
  }
  .mob-pb-55 {
    padding-bottom: 55px;
  }
  .mob-pb-60 {
    padding-bottom: 60px;
  }
  .mob-pb-65 {
    padding-bottom: 65px;
  }
  .mob-pb-70 {
    padding-bottom: 70px;
  }
  .mob-pb-75 {
    padding-bottom: 75px;
  }
  .mob-pb-80 {
    padding-bottom: 80px;
  }
  .mob-pb-85 {
    padding-bottom: 85px;
  }
  .mob-pb-90 {
    padding-bottom: 90px;
  }
  .mob-pb-95 {
    padding-bottom: 95px;
  }
  .mob-pb-100 {
    padding-bottom: 100px;
  }
  .mob-pt-0 {
    padding-top: 0px;
  }
  .mob-pt-5 {
    padding-top: 5px;
  }
  .mob-pt-10 {
    padding-top: 10px;
  }
  .mob-pt-15 {
    padding-top: 15px;
  }
  .mob-pt-20 {
    padding-top: 20px;
  }
  .mob-pt-25 {
    padding-top: 25px;
  }
  .mob-pt-30 {
    padding-top: 30px;
  }
  .mob-pt-45 {
    padding-top: 45px;
  }
  .mob-pt-50 {
    padding-top: 50px;
  }
  .mob-pt-55 {
    padding-top: 55px;
  }
  .mob-pt-60 {
    padding-top: 60px;
  }
  .mob-pt-65 {
    padding-top: 65px;
  }
  .mob-pt-70 {
    padding-top: 70px;
  }
  .mob-pt-75 {
    padding-top: 75px;
  }
  .mob-pt-80 {
    padding-top: 80px;
  }
  .mob-pt-85 {
    padding-top: 85px;
  }
  .mob-pt-90 {
    padding-top: 90px;
  }
  .mob-pt-100 {
    padding-top: 100px;
  }
  .mob-m-0 {
    margin: 0px;
  }
  .mob-m-5 {
    margin: 5px;
  }
  .mob-m-10 {
    margin: 10px;
  }
  .mob-m-15 {
    margin: 15px;
  }
  .mob-m-20 {
    margin: 20px;
  }
  .mob-m-25 {
    margin: 25px;
  }
  .mob-m-30 {
    margin: 30px;
  }
  .mob-m-45 {
    margin: 45px;
  }
  .mob-m-50 {
    margin: 50px;
  }
  .mob-m-55 {
    margin: 55px;
  }
  .mob-m-60 {
    margin: 60px;
  }
  .mob-m-65 {
    margin: 65px;
  }
  .mob-m-70 {
    margin: 70px;
  }
  .mob-m-75 {
    margin: 75px;
  }
  .mob-m-80 {
    margin: 80px;
  }
  .mob-m-85 {
    margin: 85px;
  }
  .mob-m-90 {
    margin: 90px;
  }
  .mob-m-95 {
    margin: 95px;
  }
  .mob-m-100 {
    margin: 100px;
  }
  .mob-mr-0 {
    margin-right: 0px;
  }
  .mob-mr-5 {
    margin-right: 5px;
  }
  .mob-mr-10 {
    margin-right: 10px;
  }
  .mob-mr-15 {
    margin-right: 15px;
  }
  .mob-mr-20 {
    margin-right: 20px;
  }
  .mob-mr-25 {
    margin-right: 25px;
  }
  .mob-mr-30 {
    margin-right: 30px;
  }
  .mob-mr-35 {
    margin-right: 35px;
  }
  .mob-mr-40 {
    margin-right: 40px;
  }
  .mob-mr-45 {
    margin-right: 45px;
  }
  .mob-mr-50 {
    margin-right: 50px;
  }
  .mob-mr-55 {
    margin-right: 55px;
  }
  .mob-mr-60 {
    margin-right: 60px;
  }
  .mob-mr-65 {
    margin-right: 65px;
  }
  .mob-mr-70 {
    margin-right: 70px;
  }
  .mob-mr-75 {
    margin-right: 75px;
  }
  .mob-mr-80 {
    margin-right: 80px;
  }
  .mob-mr-85 {
    margin-right: 85px;
  }
  .mob-mr-90 {
    margin-right: 90px;
  }
  .mob-mr-95 {
    margin-right: 95px;
  }
  .mob-mr-100 {
    margin-right: 0px;
  }
  .mob-ml-0 {
    margin-left: 0px;
  }
  .mob-ml-5 {
    margin-left: 5px;
  }
  .mob-ml-10 {
    margin-left: 10px;
  }
  .mob-ml-15 {
    margin-left: 15px;
  }
  .mob-ml-20 {
    margin-left: 20px;
  }
  .mob-ml-25 {
    margin-left: 25px;
  }
  .mob-ml-30 {
    margin-left: 30px;
  }
  .mob-ml-35 {
    margin-left: 35px;
  }
  .mob-ml-40 {
    margin-left: 40px;
  }
  .mob-ml-45 {
    margin-left: 45px;
  }
  .mob-ml-50 {
    margin-left: 50px;
  }
  .mob-ml-55 {
    margin-left: 55px;
  }
  .mob-ml-60 {
    margin-left: 60px;
  }
  .mob-ml-65 {
    margin-left: 65px;
  }
  .mob-ml-70 {
    margin-left: 70px;
  }
  .mob-ml-75 {
    margin-left: 75px;
  }
  .mob-ml-80 {
    margin-left: 80px;
  }
  .mob-ml-85 {
    margin-left: 85px;
  }
  .mob-ml-90 {
    margin-left: 90px;
  }
  .mob-ml-95 {
    margin-left: 95px;
  }
  .mob-ml-100 {
    margin-left: 100px;
  }
  .mob-mb-0 {
    margin-bottom: 0px;
  }
  .mob-mb-5 {
    margin-bottom: 5px;
  }
  .mob-mb-10 {
    margin-bottom: 10px;
  }
  .mob-mb-15 {
    margin-bottom: 15px;
  }
  .mob-mb-20 {
    margin-bottom: 20px;
  }
  .mob-mb-25 {
    margin-bottom: 25px;
  }
  .mob-mb-30 {
    margin-bottom: 30px;
  }
  .mob-mb-35 {
    margin-bottom: 35px;
  }
  .mob-mb-40 {
    margin-bottom: 40px;
  }
  .mob-mb-45 {
    margin-bottom: 45px;
  }
  .mob-mb-50 {
    margin-bottom: 50px;
  }
  .mob-mb-55 {
    margin-bottom: 55px;
  }
  .mob-mb-60 {
    margin-bottom: 60px;
  }
  .mob-mb-65 {
    margin-bottom: 65px;
  }
  .mob-mb-70 {
    margin-bottom: 70px;
  }
  .mob-mb-75 {
    margin-bottom: 75px;
  }
  .mob-mb-80 {
    margin-bottom: 80px;
  }
  .mob-mb-85 {
    margin-bottom: 85px;
  }
  .mob-mb-90 {
    margin-bottom: 90px;
  }
  .mob-mb-95 {
    margin-bottom: 95px;
  }
  .mob-mb-100 {
    margin-bottom: 100px;
  }
  .mob-mt-0 {
    margin-top: 0px;
  }
  .mob-mt-5 {
    margin-top: 5px;
  }
  .mob-mt-10 {
    margin-top: 10px;
  }
  .mob-mt-15 {
    margin-top: 15px;
  }
  .mob-mt-20 {
    margin-top: 20px;
  }
  .mob-mt-25 {
    margin-top: 25px;
  }
  .mob-mt-30 {
    margin-top: 30px;
  }
  .mob-mt-45 {
    margin-top: 45px;
  }
  .mob-mt-50 {
    margin-top: 50px;
  }
  .mob-mt-55 {
    margin-top: 55px;
  }
  .mob-mt-60 {
    margin-top: 60px;
  }
  .mob-mt-65 {
    margin-top: 65px;
  }
  .mob-mt-70 {
    margin-top: 70px;
  }
  .mob-mt-75 {
    margin-top: 75px;
  }
  .mob-mt-80 {
    margin-top: 80px;
  }
  .mob-mt-85 {
    margin-top: 85px;
  }
  .mob-mt-90 {
    margin-top: 90px;
  }
  .mob-mt-100 {
    margin-top: 100px;
  }
  //input type,select
  input,
  select {
    height: 48px !important;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background-color: #ffffff;
    color: #222629 !important;
    font-family: var(--font-family);
    font-size: 14px !important;

    &:focus {
      border: 1px solid #c6c6c6 !important;
      box-shadow: none !important;
    }
  }
  textarea {
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background-color: #ffffff;
    color: #222629 !important;
    font-family: var(--font-family);
    font-size: 14px !important;
    resize: none;

    &:focus {
      border: 1px solid #c6c6c6 !important;
      box-shadow: none !important;
    }
  }
  .form-label {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family-lt);
  }
  .form-label-lg {
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 500;
    font-family: var(--font-family-lt);
  }
  .required {
    &::after {
      content: "  *";
      color: var(--brand-red);
      font-size: 14px;
    }
  }
  .mobileDisplay {
    display: block !important;
  }
  .sub-imp-link {
    position: relative;
    right: 10px;
  }
  .loan-products {
    margin-top: 8px !important;
  }
  .products {
    padding: 11px 23px 19px 20px !important;
  }
  .stepsMobile-section {
    padding: 10px 28px;
  }
  .twitter,
  .facebook {
    width: 20%;
    padding-bottom: 8px;
  }
  .header-mobile-img {
    display: none;
  }
  .stepper {
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .steppermobileNone {
    display: none;
  }
  .container .dynamic-tab-container .mat-tab-body-content {
    height: calc(100vh - 430px) !important;
  }
  .gridList {
    margin-left: -29px;
  }
  .home-link {
    margin-left: 17px !important;
  }
  .stepper .complete-perc {
    position: absolute;
    top: 63px;
    font-size: 8px !important;
    left: 20px;
  }
  .summary {
    margin: 13px 17px !important;
  }
  .tableSection,
  .chartSection {
    flex-grow: 1;
  }
  .mob-flex-grow-1 {
    flex-grow: 1;
  }
  .bottomSection {
    flex-wrap: wrap;
  }
  .mobile-none {
    display: none !important;
  }
  .imgmobileWidt {
    width: 100%;
  }
  .emi-calc-container .mat-slider-horizontal {
    min-width: 167px !important;
  }
  .card-layout {
    display: none !important;
  }
}
